body {
	font-family: 'Open Sans', sans-serif;
	background-color: #1d1d1d;
	font-size: 11pt;
	color: #aaaaaa;
}

header {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

footer {
	margin-top: 50px;
	width: 100%;
}

article {
	clear: both; width : 950px;
	margin-left: auto;
	margin-right: auto;
	color: #dddddd;
	width: 950px;
}

#navMenu {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background-color: #000000;
}

#navMenu .bar {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

h1 {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.1em;
	color: #eeeeee;
	text-shadow: 2px 2px 2px #000000;
	border-bottom: 2px solid #c56b28;
}

h2 {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.1em;
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 2px 2px 2px #000000;
	border-bottom: 2px solid #c56b28;
}

p {
	padding-left: 5px;
	padding-right: 5px;
}

a {
	color: #1a91a7;
}

nav {
	float: right;
}

img.logo {
	clear: left;
	float: left;
	padding-top: 14px;
}

a:visited {
	color: #c66a29;
}

.indiedb {
	float: left;
	width: 300px;
	text-align: center;
}

.person {
	clear: both;
	float: left;
}

.person .imageWrapper {
	clear: left;
	width: 30%;
	float: left;
}

.person .description {
	float: left;
	width: 60%;
}

.social {
	float: left;
}

.social img {
	margin-top: 23px;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

nav {
	margin-top: 20px;
	margin-bottom: 50px;
}

nav a {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 10px;
	color: #1a91a7;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
}

nav a:visited {
	color: #1a91a7;
}

#imageList {
	list-style-type: none;
	width: 100%;
	padding: 0px;
}

#imageList li img {
	width: 100%;
	height: auto;
	border: 1px solid #1c8fa1;
}

#imageListSelector {
	width: 100%;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	margin-bottom: 50px;
}


#imageListSelector li {
	display: inline;
}

#imageListSelector li a {
	text-decoration: none;
}