<div ng-repeat="article in articles">
    <div class="row featurette" ng-if="!article.pinned">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">{{ article.title }}</h2>
            <p class="lead"><a href="https://hub.kendanware.com/t/{{ article.slug }}">Read more</a></p>
        </div>

        <div class="col-md-5 col-md-pull-7" ng-if="article.image_url">
            <img class="featurette-image img-responsive center-block" src="https://hub.kendanware.com{{ article.image_url }}" alt="{{ article.title }}">
        </div>
    </div>

    <hr class="featurette-divider">
</div>
