<h1>Development Log</h1>

<div class="well">
    Want to know more about what we're currently working on? Then this is the place to be, check out our progress below.
</div>

<div ng-repeat="article in articles">
    <div class="row article" ng-if="!article.pinned">
        <div class="col-md-4">
            <img class="img-responsive img-rounded" src="{{ getImageUrl(article) }}" alt="{{ article.title }}">
        </div>

        <div class="col-md-8">
            <h2 class="media-heading">{{ article.title }}</h2>
            <a href="#/devlog/{{ article.id }}">Find out more</a>
        </div>
    </div>
</div>
