<h1>Welcome</h1>
<div class="well">
    <p>
        <b>Kendanware</b> is an indie game development studio that consist of two people based in United Kingdom and Sweden.
        Our main focus is developing management and simulation games. The studio was founded in November 2014 by Daniel and Kenny
        who worked with each other at the Swedish LAN-party organization Najt in 1999.
    </p>
    <p>
        We are currently working on our first title, Skylimit Tycoon, which is a building simulation and management game in the
        same spirits as Sim Tower. Your job will be to build, manage and maintain a large building throughout it's life cycle.
        For more information about Skylimit Tycoon and progress logs, check out our
        <a href="https://hub.kendanware.com/c/skylimit-tycoon" target="_blank">community hub</a>.
    </p>
</div>
