<h1>Team</h1>

<div class="well">
    The heart and soul of Kendanware, these are the talented and ambitious people who make things happen.
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row team">
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="images/people/daniel.jpg" alt="Daniel Johansson" />
            </div>
            <div class="col-md-8">
                <h2 class="media-heading">Daniel Johansson</h2>
                <p><span class="label label-danger">Co-Founder</span>&nbsp;<span class="label label-primary">Developer</span></p>
                <p><a href="https://twitter.com/DannyJo81"><i class="fa fa-twitter"></i> DannyJo81</a></p>
                <p>Full time Java developer for the last 9 years. Enjoys developing games and playing softball in his spare time.</p>
                <p>Currently lives in Warrington, United Kingdom with his wife and their 6 year old son.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row team">
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="images/people/kenny.jpg" alt="Kenny Colliander Nordin" />
            </div>
            <div class="col-md-8">
                <h2 class="media-heading">Kenny Colliander Nordin</h2>
                <p><span class="label label-danger">Co-Founder</span>&nbsp;<span class="label label-primary">Developer</span>&nbsp;<span class="label label-success">3d Artist</span></p>
                <p><a href="https://twitter.com/Kecon81"><i class="fa fa-twitter"></i> Kecon81</a></p>
                <p>He's been a full time Java developer for the last 16 years. He enjoys playing and developing games in his spare time as well as a spot of gardening.</p>
                <p>Currently lives in Stockholm, Sweden, with his girlfriend.</p>
            </div>
        </div>
    </div>
</div>
